<nav style="background-color: #111; display: block; height:50px">
	<a routerLink="/about" routerLinkActive="active"><a style ="color: white"><span style="position:absolute;left:50px;">About</span></a></a>
	<a routerLink="/home" routerLinkActive="active"><a style ="color: white"><span style="position:absolute;left:150px;">Home</span></a></a>
	<a routerLink="/view" routerLinkActive="active"><a style ="color: white"><span style="position:absolute;left:250px;">View</span></a></a>
</nav>
<router-outlet></router-outlet>

<!-- <app-session></app-session> -->